form action="/products/new" method="post"
    input type="text" name="product_name" placeholder="Titel på produkt"
    input type="text" name="genre_id" placeholder="id för genre"
    input type="submit" value="Skapa produkt"