h1 = result

p Albumet som du har sökt efter heter #{result["pruduct_name"]}.
p Artisten som du har sökt efter heter #{result["genre_id"]}.
p Artisten som du har sökt efter heter #{result2["genre_name"]}.